html{
    font-family : arial;
    background-color: #EEEEEE;
    margin: 0;
}

h4{
    margin: 0;
}

h3{
    margin: 0;
    margin-bottom:20px;
    padding-left:50px ;
}

h5{
    font-size:1.05em;
    margin: 10px;
}

body {
    color:#222831;
    margin:0px;
}

footer {
    height:18%;
    width: 100%;
    position:fixed;
    font-family: 'Poppins Medium', sans-serif;
    text-align: center;
    margin-left: 0px;
    bottom: 0px;
    color: #EEEEEE;
    background-color:  #393E46;
}

.icon {
    margin-right: 5px;
    color:#EEEEEE;
}

.ventre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 70%;
    height:65%;
    background-size: cover;
}

.container{
    margin-top: -75px;
    height: auto;
    width: 100%;
    background-color: #393E46;
    border-radius:25px;
    color: #EEEEEE;
    padding: 30px;
    content:"";

}

.cercle1{
    display:flex;
    justify-content:center;
    height: 70px; 
    width: 70px; 
    background-color: #EEEEEE;
    border-radius: 70px;
    align-items: center;
    line-height:70px;
}

.cercle2{
    display: flex;
    justify-content:center;
    height: 100px; 
    width: 100px; 
    background-color: #00ADB5;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    align-items: center;
    margin-left:-25px;
}

.sizebis{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    color:#393E46;
}

.fun {
    border-radius: 25px;
    background-color: #00ADB5;
    width: 93%;
    padding :30px;
    color: #EEEEEE;
}
    
.deco{
    text-decoration: none;
    color: #EEEEEE;
}

.size{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}